@import "tailwindcss";
@plugin "daisyui";
@layer components {
  .inputStyle {
    @apply bg-gray-800 text-white p-3 rounded-xl placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500 transition-all duration-200;}}